html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a {
    text-decoration: none;
    color: red;
}

    a:hover {
        font-style: italic;
        background-color: none;
        color: red;
    }

img {
    width: min-content;
    height: min-content;
}
