@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:yellow" class="display-4"> <b> Burger Time </b> </h1>
    <img src="@Url.Content("https://images.huffingtonpost.com/2015-08-06-1438889682-9017690-oMEALfacebook670x446-thumb.jpg")" width="900" height="600" style="border-radius: 10px" alt="Image" />
</div>
